<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Reunited: Bringing Families Back Together</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
  <link href="/static/css/index.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Reunited</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Don't see your child?</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
<div class="row">
  <div class="col-md-6">
    <a href="C:/Users/isabe/OneDrive/Documents/GitHub/isabiiil.github.io/index.html"><div class="card" style="height: 50vh;">
      <div class="row">
        <div class="col-md-6">
          <h1 class="name" style="max-width: 100%">Mario Pisano</h1>
          <p>Age: 6</p>
          <p>Gender: Male</p>
          <p>Location: Mushroom Kingdom</p>
        </div>
        <div class="col-md-6">
          <img src="https://is5-ssl.mzstatic.com/image/thumb/Purple113/v4/53/f1/8a/53f18aeb-9d5b-b29f-175d-10b7d739e4a1/AppIcon-0-1x_U007emarketing-0-85-220-7.png/246x0w.jpg" style="max-width: 100%">
        </div>
      </div>
  </div></a>
  </div>
  <div class="col-md-6">
    <a href="C:/Users/isabe/OneDrive/Documents/GitHub/isabiiil.github.io/index.html"><div class="card" style="height: 50vh;">
      <div class="row">
        <div class="col-md-6">
          <h1 class="name" style="max-width: 100%">Luigi Pisano</h1>
          <p>Age: 6</p>
          <p>Gender: Male</p>
          <p>Location: Mushroom Kingdom</p>
        </div>
        <div class="col-md-6">
          <img src="https://statici.behindthevoiceactors.com/behindthevoiceactors/_img/chars/luigi-super-mario-maker-2-29.jpg" style="max-width: 100%">
        </div>
      </div>
  </div></a>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <a href="C:/Users/isabe/OneDrive/Documents/GitHub/isabiiil.github.io/index.html"><div class="card" style="height: 50vh;">
      <div class="row">
        <div class="col-md-6">
          <h1 class="name" style="max-width: 100%">Princess Peach</h1>
          <p>Age: 4</p>
          <p>Gender: Female</p>
          <p>Location: Peach's Castle</p>
        </div>
        <div class="col-md-6">
          <img src="https://aff5fa4925746bf9c161-fb36f18ca122a30f6899af8eef8fa39b.ssl.cf5.rackcdn.com/images/Masthead_Peach.17345b1513ac044897cfc243542899dce541e8dc.9afde10b.png" style="max-width: 100%">
        </div>
      </div>
  </div></a>
  </div>
  <div class="col-md-6">
    <a href="C:/Users/isabe/OneDrive/Documents/GitHub/isabiiil.github.io/index.html"><div class="card" style="height: 50vh;">
      <div class="row">
        <div class="col-md-6">
          <h1 class="name" style="max-width: 100%">Bowser Koopa</h1>
          <p>Age: 13</p>
          <p>Gender: Male</p>
          <p>Location: Bowser's Castle</p>
        </div>
        <div class="col-md-6">
          <img src="https://miro.medium.com/max/2000/1*OtcKvg8i2E1xSZgStmGi1Q.png" style="max-width: 100%">
        </div>
      </div>
  </div></a>
  </div>
</div>
</div>
<footer class="py-6 bg-black" style="position: relative; top: 100px;">
  <div class="container">
    <p class="m-0 text-center text-white small">For PennApps XX</p>
  </div>
</footer>
</body>
</html>
